<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block head %}
    <link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Karla:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>

    

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>

    
    <link rel="stylesheet" href="stylesheets/main.css" />

    <title>{% block title %}{% endblock title%} Google + Fashion 2014</title>
    {% endblock head%}
</head>
<body>
    <div id="content">
        <div class="heading">
            <h1 class="english">Google + Fashion 2014</h1>
            <h2 class="collectionName english">Collection Name</h2>
        </div>
        {% block content %}
            <div class="middleSection">
            </div>
        {% endblock content%}
        
        <div class="navigation">
            <a href="" id="prevLink"><img src="http://continuumfashion.com/temp/rose/left-arrow.svg" alt="left arrow"> </a>

            <div class="centered">
                <span class="circle "></span>
                <span class="circle "></span>
                <span class="circle circle-active"></span>
                <span class="circle "></span>
                <span class="circle "></span>
                <span class="circle "></span>
            {% block pageTitle %}    
            <h2></h2>
            {% endblock %}
            </div>

            {% block nextLink %} 
            <a href="" id="nextLink">
                <img src="http://continuumfashion.com/temp/rose/right-arrow.svg" alt="right arrow"> 
            </a>
            {% endblock %}
                
            
        </div>

    {% block leftColumn %}    
    <div id="leftColumn" class="column">
        {% block leftSidebar %}
        {% endblock %}


        <div id="footer">
        {% block footer %}
        Google | Privacy & Terms | Logout
        {% endblock %}
        </div>
    </div>
    {% endblock %}

    {% block rightColumn %}  
    <div id="rightColumn" class="column">
        <div id="logo">
            <img src="/images/rose-logo.svg" />
        </div>

        {% block rightSidebar %}
        {% endblock %}
    </div>
    {% endblock %}


    </div>
   <script>
   var urlParams;
   var gender = "female";
   var language = "english";
    (window.onpopstate = function () {
        var match,
            pl     = /\+/g,  // Regex for replacing addition symbol with a space
            search = /([^&=]+)=?([^&]*)/g,
            decode = function (s) { return decodeURIComponent(s.replace(pl, " ")); },
            query  = window.location.search.substring(1);

        urlParams = {};
        while (match = search.exec(query))
           urlParams[decode(match[1])] = decode(match[2]);
    })();

    if (urlParams.language == "spanish") {
        $(".english").hide();
        language = "spanish";
    } else {
        $(".spanish").hide();
    }
    if (urlParams.gender == "male") {
        gender = "male";
        $(".female").hide();
        $(".male").show();
    }

    </script>
    {% block javascript %} 
    {% endblock %} 
    


</body>