{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
  	<script src="javascripts/Three/three.min.js"></script>
  	<script src="javascripts/Three/js/libs/stats.min.js"></script>
{% endblock %}

{% block content %}
    <div class="middleSection" id="middleSection">
    	<div id="viewer" style="width:700px; height:750px">
    	</div>
    </div>
{% endblock %} 

{% block pageTitle %}    
    <h2 class="english"> Garments</h2>
{% endblock %}

{% block leftSidebar %}
<div class="leftSidebar">
	<div class="female">
		<div class="garment" data-garment="femaleShirt">
			<h5 class="label english">Shirt</h5>
			<h5 class="label spanish">Shirt</h5>
			<a class="thumbnail" id="shirt" data-garment="femaleShirt"><img src="/images/thumbnail.svg" /></a>
			<a class="garment-select "><img class="inactive-garment" src="/images/xmark.svg" /></a>
		</div>

		<div class="garment" data-garment="femalePants">
			<h5 class="label english">Pants</h5>
			<h5 class="label spanish">Pants</h5>
			<a class="thumbnail" id="pants"><img src="/images/thumbnail.svg" /></a>
			<a class="garment-select "><img class="inactive-garment" src="/images/xmark.svg" /></a>
		</div>

		<div class="garment" data-garment="femaleDress">
			<h5 class="label english">Dress</h5>
			<h5 class="label spanish">Dress</h5>
			<a class="thumbnail" id="dress1"><img src="/images/thumbnail.svg" /></a>
			<a class="garment-select "><img class="inactive-garment" src="/images/xmark.svg" /></a>
		</div>

		<div class="garment" data-garment="femaleGown">
			<h5 class="label english">Gown</h5>
			<h5 class="label spanish">Gown</h5>
			<a class="thumbnail" id="dress2"><img src="/images/thumbnail.svg" /></a>
			<a class="garment-select "><img class="inactive-garment" src="/images/xmark.svg" /></a>
		</div>

		<div class="garment" data-garment="femaleCoat">
			<h5 class="label english">Coat</h5>
			<h5 class="label spanish">Coat</h5>
			<a class="thumbnail" id="coat"><img src="/images/thumbnail.svg" /></a>
			<a class="garment-select "><img class="inactive-garment" src="/images/xmark.svg" /></a>
		</div>
	</div>

	<div class="male" style="display:none;">
		<div class="garment" data-garment="malePants">
			<h5 class="label english">Pants</h5>
			<h5 class="label spanish">Pants</h5>
			<a class="thumbnail" id="shirt"><img src="/images/thumbnail.svg" /></a>
			<a class="garment-select "><img class="inactive-garment" src="/images/xmark.svg" /></a>
		</div>

		<div class="garment" data-garment="maleShirt">
			<h5 class="label english">Shirt</h5>
			<h5 class="label spanish">Shirt</h5>
			<a class="thumbnail" id="pants"><img src="/images/thumbnail.svg" /></a>
			<a class="garment-select "><img class="inactive-garment" src="/images/xmark.svg" /></a>
		</div>

		<div class="garment" data-garment="maleCollarShirt">
			<h5 class="label english">Collared Shirt</h5>
			<h5 class="label spanish">Shirt</h5>
			<a class="thumbnail" id="dress1"><img src="/images/thumbnail.svg" /></a>
			<a class="garment-select "><img class="inactive-garment" src="/images/xmark.svg" /></a>
		</div>

		<div class="garment" data-garment="maleCoat">
			<h5 class="label english">Coat</h5>
			<h5 class="label spanish">Coat</h5>
			<a class="thumbnail" id="dress2"><img src="/images/thumbnail.svg" /></a>
			<a class="garment-select "><img class="inactive-garment" src="/images/xmark.svg" /></a>
		</div>

		<div class="garment" data-garment="maleSleeveless">
			<h5 class="label english">Sleeveless Shirt</h5>
			<h5 class="label spanish">Shirt</h5>
			<a class="thumbnail" id="coat"><img src="/images/thumbnail.svg" /></a>
			<a class="garment-select "><img class="inactive-garment" src="/images/xmark.svg" /></a>
		</div>
	</div>


</div>
{% endblock %}

{% macro slider(labelEnglish, labelSpanish, morphnum) -%}
	<div class="slider {{ morphnum }}"></div>
	<h5 class="label english">{{ labelEnglish }}</h5>
	<h5 class="label spanish">{{ labelSpanish }}</h5>
{%- endmacro %}

{% block rightSidebar %}
<div class="rightSidebar">
	<div class="slider morph1"></div>
	<h5 class="label english">Length</h5>
	<h5 class="label spanish">Length</h5>

	<div class="slider morph2"></div>
	<h5 class="label english">Sleeves</h5>
	<h5 class="label spanish">Length</h5>

	<div class="slider morph3"></div>
	<h5 class="label english">Boxiness</h5>
	<h5 class="label spanish">Length</h5>

	<div class="slider morph4"></div>
	<h5 class="label english">Neckline</h5>
	<h5 class="label spanish">Length</h5>

	<div class="slider morph5"></div>
	<h5 class="label english">Tightness</h5>
	<h5 class="label spanish">Length</h5>

	{{ slider('option 6', 'optionale6', 'morph6') }}

</div>
{% endblock %}


{% block javascript %} 

<script>
var currentGarment = "femaleDress";

$(".inactive-garment").click(function(){
	$(this).attr("src", "/images/checkmark.svg");
	$(this).attr("class", "active-garment");
}); 

$(".active-garment").click(function(){
	$(this).attr("src", "/images/xmark.svg");
	$(this).attr("class", "inactive-garment");
});

$(".garment .thumbnail").click(function(){
	currentGarment = $(this).parent().attr('data-garment');
	console.log(currentGarment);
	changeGarment("/javascripts/"+gender+"/"+currentGarment+".js");
})

$(function() {
    $( ".slider" ).slider({
    	min: 0,
    	max: 100,
    	slide: function (event, ui) {
    		console.log($(this).slider("option", "value"));
    	}
    });


 });
</script>

<script src="javascripts/garments.js"></script>
{% endblock %} 