{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
  	<script src="javascripts/Three/three.min.js"></script>
{% endblock %}

{% block content %}
    <div class="middleSection">
    	3D viewer goes here
    </div>
{% endblock %} 

{% block pageTitle %}    
    <h2 class="english"> Garments</h2>
{% endblock %}

{% block leftSidebar %}
<div class="leftSidebar">
	<div class="garment">
		<h5 class="label english">Shirt</h5>
		<h5 class="label spanish">Shirt</h5>
		<a class="thumbnail" id="shirt"><img src="http://continuumfashion.com/temp/rose/thumbnail.svg" /></a>
		<a class="garment-select "><img class="inactive-garment" src="http://continuumfashion.com/temp/rose/xmark.svg" /></a>
	</div>

	<div class="garment">
		<h5 class="label english">Pants</h5>
		<h5 class="label spanish">Pants</h5>
		<a class="thumbnail" id="pants"><img src="http://continuumfashion.com/temp/rose/thumbnail.svg" /></a>
		<a class="garment-select "><img class="inactive-garment" src="http://continuumfashion.com/temp/rose/xmark.svg" /></a>
	</div>

	<div class="garment">
		<h5 class="label english">Dress</h5>
		<h5 class="label spanish">Dress</h5>
		<a class="thumbnail" id="dress1"><img src="http://continuumfashion.com/temp/rose/thumbnail.svg" /></a>
		<a class="garment-select "><img class="inactive-garment" src="http://continuumfashion.com/temp/rose/xmark.svg" /></a>
	</div>

	<div class="garment">
		<h5 class="label english">Gown</h5>
		<h5 class="label spanish">Gown</h5>
		<a class="thumbnail" id="dress2"><img src="http://continuumfashion.com/temp/rose/thumbnail.svg" /></a>
		<a class="garment-select "><img class="inactive-garment" src="http://continuumfashion.com/temp/rose/xmark.svg" /></a>
	</div>

	<div class="garment">
		<h5 class="label english">Coat</h5>
		<h5 class="label spanish">Coat</h5>
		<a class="thumbnail" id="coat"><img src="http://continuumfashion.com/temp/rose/thumbnail.svg" /></a>
		<a class="garment-select "><img class="inactive-garment" src="http://continuumfashion.com/temp/rose/xmark.svg" /></a>
	</div>


</div>
{% endblock %}

{% macro slider(labelEnglish, labelSpanish, morphnum) -%}
	<div class="slider {{ morphnum }}"></div>
	<h5 class="label english">{{ labelEnglish }}</h5>
	<h5 class="label spanish">{{ labelSpanish }}</h5>
{%- endmacro %}

{% block rightSidebar %}
<div class="rightSidebar">
	<div class="slider morph1"></div>
	<h5 class="label english">Length</h5>
	<h5 class="label spanish">Length</h5>

	<div class="slider morph2"></div>
	<h5 class="label english">Sleeves</h5>
	<h5 class="label spanish">Length</h5>

	<div class="slider morph3"></div>
	<h5 class="label english">Boxiness</h5>
	<h5 class="label spanish">Length</h5>

	<div class="slider morph4"></div>
	<h5 class="label english">Neckline</h5>
	<h5 class="label spanish">Length</h5>

	<div class="slider morph5"></div>
	<h5 class="label english">Tightness</h5>
	<h5 class="label spanish">Length</h5>

	{{ slider('option 6', 'optionale6', 'morph6') }}

</div>
{% endblock %}


{% block javascript %} 

<script>
$(".inactive-garment").click(function(){
	$(this).attr("src", "http://continuumfashion.com/temp/rose/checkmark.svg");
	$(this).attr("class", "active-garment");
}); 

$(".active-garment").click(function(){
	$(this).attr("src", "http://continuumfashion.com/temp/rose/xmark.svg");
	$(this).attr("class", "inactive-garment");
});

$(function() {
    $( ".slider" ).slider({
    	min: 0,
    	max: 100,
    	slide: function (event, ui) {
    		console.log($(this).slider("option", "value"));
    	}
    });
    



 });
</script>
{% endblock %} 