{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
  	<script src="javascripts/Three/three.min.js"></script>
  	<script src="javascripts/Three/js/libs/stats.min.js"></script>
{% endblock %}

{% block content %}
    <div class="middleSection" id="middleSection">
    	<div id="viewer" style="width:700px; height:750px">
    	</div>
    </div>
{% endblock %} 

{% block pageTitle %}    
    <h2 class="english"> Garments</h2>
{% endblock %}

{% block leftSidebar %}
<div class="leftSidebar">
	<div class="female">
		<div class="garment" data-garment="femaleDress">
			<h5 class="label english">Dress</h5>
			<h5 class="label spanish">Dress</h5>
			<a class="thumbnail" id="dress1"><img src="/images/thumbnail.svg" /></a>
			<a class="garment-select "><img class="marker inactive-garment" src="/images/xmark.svg" /></a>
		</div>

		<div class="garment" data-garment="femaleShirt">
			<h5 class="label english">Shirt</h5>
			<h5 class="label spanish">Shirt</h5>
			<a class="thumbnail" id="shirt" data-garment="femaleShirt"><img src="/images/thumbnail.svg" /></a>
			<a class="garment-select "><img class="marker inactive-garment" src="/images/xmark.svg" /></a>
		</div>

		<div class="garment" data-garment="femalePants">
			<h5 class="label english">Pants</h5>
			<h5 class="label spanish">Pants</h5>
			<a class="thumbnail" id="pants"><img src="/images/thumbnail.svg" /></a>
			<a class="garment-select "><img class="marker inactive-garment" src="/images/xmark.svg" /></a>
		</div>

		<div class="garment" data-garment="femaleGown">
			<h5 class="label english">Gown</h5>
			<h5 class="label spanish">Gown</h5>
			<a class="thumbnail" id="dress2"><img src="/images/thumbnail.svg" /></a>
			<a class="garment-select "><img class="marker inactive-garment" src="/images/xmark.svg" /></a>
		</div>

		<div class="garment" data-garment="femaleCoat">
			<h5 class="label english">Coat</h5>
			<h5 class="label spanish">Coat</h5>
			<a class="thumbnail" id="coat"><img src="/images/thumbnail.svg" /></a>
			<a class="garment-select "><img class="marker inactive-garment" src="/images/xmark.svg" /></a>
		</div>
	</div>

	<div class="male" style="display:none;">
		<div class="garment" data-garment="malePants">
			<h5 class="label english">Pants</h5>
			<h5 class="label spanish">Pants</h5>
			<a class="thumbnail" id="shirt"><img src="/images/thumbnail.svg" /></a>
			<a class="garment-select "><img class="marker active-garment" src="/images/xmark.svg" /></a>
		</div>

		<div class="garment" data-garment="maleShirt">
			<h5 class="label english">Shirt</h5>
			<h5 class="label spanish">Shirt</h5>
			<a class="thumbnail" id="pants"><img src="/images/thumbnail.svg" /></a>
			<a class="garment-select "><img class="marker inactive-garment" src="/images/xmark.svg" /></a>
		</div>

		<div class="garment" data-garment="maleCollarShirt">
			<h5 class="label english">Collared Shirt</h5>
			<h5 class="label spanish">Shirt</h5>
			<a class="thumbnail" id="dress1"><img src="/images/thumbnail.svg" /></a>
			<a class="garment-select "><img class="marker inactive-garment" src="/images/xmark.svg" /></a>
		</div>

		<div class="garment" data-garment="maleCoat">
			<h5 class="label english">Coat</h5>
			<h5 class="label spanish">Coat</h5>
			<a class="thumbnail" id="dress2"><img src="/images/thumbnail.svg" /></a>
			<a class="garment-select "><img class="marker inactive-garment" src="/images/xmark.svg" /></a>
		</div>

		<div class="garment" data-garment="maleSleeveless">
			<h5 class="label english">Sleeveless Shirt</h5>
			<h5 class="label spanish">Shirt</h5>
			<a class="thumbnail" id="coat"><img src="/images/thumbnail.svg" /></a>
			<a class="garment-select "><img class="marker inactive-garment" src="/images/xmark.svg" /></a>
		</div>
	</div>


</div>
{% endblock %}

{% macro slider(labelEnglish, labelSpanish, morphnum) -%}
	<div class="slider {{ morphnum }}"></div>
	<h5 class="label english">{{ labelEnglish }}</h5>
	<h5 class="label spanish">{{ labelSpanish }}</h5>
{%- endmacro %}

{% block rightSidebar %}
<div class="rightSidebar">
	<div class="garmentSliders female" id="femaleDress">
		<div class="slider morph1"></div>
		<h5 class="label english">Fullness</h5>
		<h5 class="label spanish">Length</h5>

		<div class="slider morph2"></div>
		<h5 class="label english">Length</h5>
		<h5 class="label spanish">Length</h5>

		<div class="slider morph3"></div>
		<h5 class="label english">Neckline</h5>
		<h5 class="label spanish">Length</h5>

		<div class="slider morph4"></div>
		<h5 class="label english">Boxiness</h5>
		<h5 class="label spanish">Length</h5>

		<div class="slider morph5"></div>
		<h5 class="label english">Cap Sleeves</h5>
		<h5 class="label spanish">Length</h5>
	</div>

	<div class="garmentSliders" id="femaleShirt" style="display:none;">
		{{ slider('Short Sleeves', 'optionale1', 'morph1') }}
		{{ slider('Crop Top', 'optionale1', 'morph2') }}
		{{ slider('Boxiness', 'optionale1', 'morph3') }}
		{{ slider('Neckline', 'optionale1', 'morph4') }}
		{{ slider('Assymmetric', 'optionale1', 'morph5') }}
	</div>

	<div class="garmentSliders" id="femalePants" style="display:none;">
		{{ slider('Tightness', 'optionale1', 'morph1') }}
		{{ slider('Shorts', 'optionale1', 'morph2') }}
		{{ slider('Low-Rise', 'optionale1', 'morph3') }}
	</div>

	<div class="garmentSliders" id="femaleCoat" style="display:none;">
		{{ slider('Fullness', 'optionale1', 'morph1') }}
		{{ slider('Length', 'optionale1', 'morph2') }}
		{{ slider('Neckline', 'optionale1', 'morph3') }}
		{{ slider('Boxiness', 'optionale1', 'morph4') }}
		{{ slider('Sleeve Width', 'optionale1', 'morph5') }}
		{{ slider('Shoulders', 'optionale1', 'morph6') }}
	</div>

	<div class="garmentSliders" id="maleShirt" style="display:none;">
		{{ slider('Length', 'optionale1', 'morph1') }}
		{{ slider('Boxiness', 'optionale1', 'morph2') }}
		{{ slider('Short Sleeves', 'optionale1', 'morph3') }}
		{{ slider('Cowl', 'optionale1', 'morph4') }}
	</div>

	<div class="garmentSliders male" id="malePants" style="display:none;">
		{{ slider('Tightness', 'optionale1', 'morph1') }}
		{{ slider('Shorts', 'optionale1', 'morph2') }}
		{{ slider('Width', 'optionale1', 'morph3') }}
	</div>

	<div class="garmentSliders" id="maleCoat" style="display:none;">
		{{ slider('Length', 'optionale1', 'morph1') }}
		{{ slider('Boxiness', 'optionale1', 'morph2') }}
		{{ slider('Cuff Sleeves', 'optionale1', 'morph3') }}
		{{ slider('Shoulders', 'optionale1', 'morph4') }}
		{{ slider('Cowl', 'optionale1', 'morph5') }}
		{{ slider('Collar', 'optionale1', 'morph6') }}
	</div>

	<div class="garmentSliders" id="maleCollaredShirt" style="display:none;">
		{{ slider('Short Sleeves', 'optionale1', 'morph1') }}
		{{ slider('Shirt Tails', 'optionale1', 'morph2') }}
		{{ slider('Collar Points', 'optionale1', 'morph3') }}
		{{ slider('Collar Size', 'optionale1', 'morph5') }}
	</div>

	<div class="garmentSliders" id="maleSleeveless" style="display:none;">
		{{ slider('Length', 'optionale1', 'morph1') }}
		{{ slider('Boxiness', 'optionale1', 'morph2') }}
		{{ slider('Short Sleeves', 'optionale1', 'morph3') }}
		{{ slider('Neckline', 'optionale1', 'morph5') }}
	</div>



</div>
{% endblock %}


{% block javascript %} 

<script>
var currentGarment = "femaleDress";

$(".marker").click(function(){
	//console.log($(this).child());
	console.log($(this).hasClass("inactive-garment"));
	if ($(this).hasClass("inactive-garment") == true) {
		$(this).attr("src", "/images/checkmark.svg");
		$(this).addClass("active-garment");
		$(this).removeClass("inactive-garment");
		
	} else if ($(this).hasClass('active-garment') == true) {
		$(this).attr("src", "/images/xmark.svg");
		$(this).removeClass("active-garment");
		$(this).addClass("inactive-garment");
	}
});

$(".garment .thumbnail").mousedown(function(){
	currentGarment = $(this).parent().attr('data-garment');
	console.log(currentGarment);
	changeGarment("/javascripts/"+gender+"/"+currentGarment+".js");
	$(".garmentSliders").hide();
	$("#"+currentGarment).show();
	updateMorph();
});

$(".garment .thumbnail").mouseup(function(){
	console.log('up');
	updateMorph();
	scene.add( mesh );
});

function updateMorph() {
	var i=0;
	$("#"+currentGarment+ " .slider").each(function(){
		i++;
		//$(this).slider('option', 'slide')(null, {value: $(this).slider('value') });
		//$(this).trigger('slide');
		var val = $(this).slider("option", "value");
		mesh.morphTargetInfluences[ i ] = val/100;
	});
}

$(function() {
	/*
    $( ".slider" ).slider({
    	min: 0,
    	max: 100,
    	slide: function (event, ui) {
    		console.log($(this).slider("option", "value"));
    	}
    });
	*/

    $( ".morph1" ).slider({
    	min: 0,
    	max: 100,
    	slide: function (event, ui) {
    		var val = $(this).slider("option", "value");
    		mesh.morphTargetInfluences[ 1 ] = val/100;
    	}
    });

    $( ".morph2" ).slider({
    	min: 0,
    	max: 100,
    	slide: function (event, ui) {
    		var val = $(this).slider("option", "value");
    		mesh.morphTargetInfluences[ 2 ] = val/100;
    	}
    });

    $( ".morph3" ).slider({
    	min: 0,
    	max: 100,
    	slide: function (event, ui) {
    		var val = $(this).slider("option", "value");
    		mesh.morphTargetInfluences[ 3 ] = val/100;
    	}
    });

    $( ".morph4" ).slider({
    	min: 0,
    	max: 100,
    	slide: function (event, ui) {
    		var val = $(this).slider("option", "value");
    		mesh.morphTargetInfluences[ 4 ] = val/100;
    	}
    });

    $( ".morph5" ).slider({
    	min: 0,
    	max: 100,
    	slide: function (event, ui) {
    		var val = $(this).slider("option", "value");
    		mesh.morphTargetInfluences[ 5 ] = val/100;
    	}
    });

    $( ".morph6" ).slider({
    	min: 0,
    	max: 100,
    	slide: function (event, ui) {
    		var val = $(this).slider("option", "value");
    		mesh.morphTargetInfluences[ 6 ] = val/100;
    	}
    });

 });
</script>

<script src="javascripts/garments.js"></script>
{% endblock %} 