{% extends "base.html" %}
{% block title %}Embellish{% endblock %}
{% block head %}
    {{ super() }}
    <script src="/javascripts/materialView.web.js"></script>
    <script type="text/javascript" src="javascripts/jquery.wheelcolorpicker.js"></script>
    <link type="text/css" rel="stylesheet" href="stylesheets/wheelcolorpicker.css" />
    <style>
    .column {
      background-color: transparent;
      width: 14%;
    }
    .middleSection {
      z-index: 5;
      width: 1000px;
      margin: auto auto;
      height: 700px;
    }
    .material{
      width: 25%;
      position:relative;
      float:left;
      margin: 40px;
    }
    .colorBox {
      width: 100%;
      background: white;
      min-height: 150px;
      margin-bottom: 25px;
      border: 3px solid white;
    }
    .colorBox .label {
      padding: 9px;
      display:inline-block;
      width: 42%;
    }
    .colorBox .inactive {
      background-color: #F6F7F4;
    }

    .black {
      color: black;
      text-shadow: 0px 0px 7px white;
    }

    .materialSelect {
      border: 3px solid white;
      width:100%;
    }
    .Larrow, .Rarrow {
      cursor: pointer;
    }


    .st0:hover {
      fill:#666666;
    }

    </style>

{% endblock %}

{% block content %}
    <div class="middleSection">
        <div class="material" id="material1">     
          <canvas width="256" height="256" id="matView1"></canvas>
          <div class="colorBox">
            <span class="label english black">Color</span>
            <input id="color1" type="text" value="#FF0000"></input>
          </div>

          <div class="materialSelect"> 
            <select id="materialSelect1">
              <option value="flat">Flat</option>
              <option value ="matte">Matte</option>
              <option value ="glossy">Glossy</option>
            </select>

            <div class="arrows">
             <a class="Larrow"> <img  src="/images/Larrow.svg"/></a>
             <a class="Rarrow"> <img  src="/images/R-arrow.svg"/></a>
            </div>
          </div>

        </div>  

        <div class="material" id="material2"> 
          <canvas width="256" height="256" id="matView2"></canvas>
          <div class="colorBox">
            <span class="label english black">Color</span>
            <span class="label english black inactive">Image</span>
            <div id="colorSelect2"><input id="color2" type="text" value="#44FF77"></input></div>

          </div>

          <div class="materialSelect"> 
            <select id="materialSelect2">
              <option value="flat">Flat</option>
              <option value ="matte" selected>Matte</option>
              <option value ="glossy">Glossy</option>
            </select>

            <div class="arrows">
             <a class="Larrow"> <img  src="/images/Larrow.svg"/></a>
             <a class="Rarrow"> <img  src="/images/R-arrow.svg"/></a>
            </div>
          </div>

        </div>  

        <div class="material" id="material3"> 
          <canvas width="256" height="256" id="matView3"></canvas>
          <div class="colorBox">
            <span class="label english black inactive">Color</span>
            <span class="label english black">Image</span>
            <div id="colorSelect3"><input id="color3" type="text" value="#44DDFF"></input></div>

          </div>

          <div class="materialSelect"> 
            <select id="materialSelect3">
              <option value="flat">Flat</option>
              <option value ="matte">Matte</option>
              <option value ="glossy" selected>Glossy</option>
            </select>

            <div class="arrows">
             <a class="Larrow"> <img  src="/images/Larrow.svg"/></a>
             <a class="Rarrow"> <img  src="/images/R-arrow.svg"/></a>
            </div>
          </div>

        </div>
    </div>
{% endblock %} 


{% block pageTitle %}    
    <h2 class="english"> Materials</h2>
{% endblock %}

{% block javascript %}  
  <script>
  var matView1 = new MaterialPreview("matView1");
  matView1.setMaterial("flat");
  matView1.setColor("#FF0000");
  matView1.setBGColor("#FFFFFF");

  var matView2 = new MaterialPreview("matView2");
  matView2.setMaterial("matte");
  matView2.setColor("#44FF77");
  matView2.setImage("/images/stripes.png");
  matView2.setBGColor("#FFFFFF");

  var matView3 = new MaterialPreview("matView3");
  matView3.setMaterial("glossy");
  matView3.setColor("#44DDFF");
  matView3.setBGColor("#FFFFFF");

  $('#color1').wheelColorPicker({
    layout: 'block',
    format: 'css',
    preview: false,
    sliders: 'v'
  });
  $('#color1').on('sliderup', function() {
    matView1.setColor($(this).val());
  });

  $('#color2').wheelColorPicker({
    layout: 'block',
    format: 'css',
    preview: false,
    sliders: 'v'
  });
  $('#color2').on('sliderup', function() {
    matView2.setColor($(this).val());
  });

  $('#color3').wheelColorPicker({
    layout: 'block',
    format: 'css',
    preview: false,
    sliders: 'v'
  });
  $('#color3').on('sliderup', function() {
    matView3.setColor($(this).val());
  });

  $("#material1 .Rarrow").click(function(){
    if ($("#materialSelect1").prop('selectedIndex') == 2) {
      $("#materialSelect1").prop('selectedIndex', 0)
    } else {
      $("#materialSelect1 option:selected").next().prop('selected', true);
    }
    matView1.setMaterial($("#materialSelect1 option:selected").val());
  });
  $("#material1 .Larrow").click(function(){
    if ($("#materialSelect1").prop('selectedIndex') == 0) {
      $("#materialSelect1").prop('selectedIndex', 2)
    } else {
      $("#materialSelect1 option:selected").prev().prop('selected', true);
    }
    matView1.setMaterial($("#materialSelect1 option:selected").val());
  });

  $("#material2 .Rarrow").click(function(){
    if ($("#materialSelect2").prop('selectedIndex') == 2) {
      $("#materialSelect2").prop('selectedIndex', 0)
    } else {
      $("#materialSelect2 option:selected").next().prop('selected', true);
    }
    matView2.setMaterial($("#materialSelect2 option:selected").val());
  });
  $("#material2 .Larrow").click(function(){
    if ($("#materialSelect2").prop('selectedIndex') == 0) {
      $("#materialSelect2").prop('selectedIndex', 2)
    } else {
      $("#materialSelect2 option:selected").prev().prop('selected', true);
    }
    matView2.setMaterial($("#materialSelect2 option:selected").val());
  });

  $("#material3 .Rarrow").click(function(){
    if ($("#materialSelect3").prop('selectedIndex') == 2) {
      $("#materialSelect3").prop('selectedIndex', 0)
    } else {
      $("#materialSelect3 option:selected").next().prop('selected', true);
    }
    matView3.setMaterial($("#materialSelect3 option:selected").val());
  });
  $("#material3 .Larrow").click(function(){
    if ($("#materialSelect3").prop('selectedIndex') == 0) {
      $("#materialSelect3").prop('selectedIndex', 2)
    } else {
      $("#materialSelect3 option:selected").prev().prop('selected', true);
    }
    matView3.setMaterial($("#materialSelect3 option:selected").val());
  });

  $("#prevLink").attr("href", "/shapes?language="+language+"?gender="+gender) ;
  </script>
{% endblock %}
