{% extends "base.html" %}
{% block title %}Embellish{% endblock %}
{% block head %}
    {{ super() }}
    <script src="/javascripts/materialView.web.js"></script>
    <style>
    .column {
      background-color: transparent;
      width: 14%;
    }
    .middleSection {
      z-index: 5;
      width: 1000px;
      margin: auto auto;
    }
    .material{
      width: 25%;
      position:relative;
      float:left;
      margin: 40px;
    }
    .colorBox {
      width: 100%;
      
    }
    .black {
      color: black;
      text-shadow: 0px 0px 7px white;
    }
    .Larrow, .Rarrow {
      cursor: pointer;
    }

    </style>

{% endblock %}

{% block content %}
    <div class="middleSection">
        <div class="material" id="material1">     
          <canvas width="256" height="256" id="matView1"></canvas>
          <div class="colorBox">
            <h6 class="label english black">Color</h6>
          </div>
          <div class="materialSelect"> 
            <select id="materialSelect1">
              <option value="flat">Flat</option>
              <option value ="matte">Matte</option>
              <option value ="glossy">Glossy</option>
            </select>

            <div class="arrows">
             <a class="Larrow"> <img  src="/images/Larrow.svg"/></a>
             <a class="Rarrow"> <img  src="/images/Rarrow.svg"/></a>
            </div>

          </div>
        </div>  
        <div class="material" id="material2"> 
          <canvas width="256" height="256" id="matView2"></canvas>
        </div>  
        <div class="material" id="material3"> 
          <canvas width="256" height="256" id="matView3"></canvas>
        </div>
    </div>
{% endblock %} 


{% block pageTitle %}    
    <h2 class="english"> Materials</h2>
{% endblock %}

{% block javascript %}  
  <script>
  var matView1 = new MaterialPreview("matView1");
  matView1.setMaterial("flat");
  matView1.setColor("#FF0000");
  matView1.setBGColor("#FFFFFF");

  var matView2 = new MaterialPreview("matView2");
  matView2.setMaterial("matte");
  matView2.setColor("#44FF77");
  matView2.setImage("/images/stripes.png");
  matView2.setBGColor("#FFFFFF");

  var matView3 = new MaterialPreview("matView3");
  matView3.setMaterial("glossy");
  matView3.setColor("#44DDFF");
  matView3.setBGColor("#FFFFFF");

 // matView1.setMaterial("matte");
 // matView1.setColor("#44FF77");
 // matView1.setImage("assets/textures/pattern_4.jpg");

  $("#material1 .Rarrow").click(function(){
    if ($("#materialSelect1").prop('selectedIndex') == 2) {
      $("#materialSelect1").prop('selectedIndex', 0)
    } else {
      $("#materialSelect1 option:selected").next().prop('selected', true);
    }
  });

  $("#material1 .Larrow").click(function(){
    if ($("#materialSelect1").prop('selectedIndex') == 0) {
      $("#materialSelect1").prop('selectedIndex', 2)
    } else {
      $("#materialSelect1 option:selected").prev().prop('selected', true);
    }
  });

  </script>
{% endblock %}
